[Unit]
Description=Ark Server MCJE Firewall Service
After=network.target

[Service]
Type=simple
User=arkapravo
Group=arkapravo
StartLimitBurst=3
WorkingDirectory=/home/arkapravo/server-mcje
ExecStart=/home/arkapravo/server-mcje/start-firewall.sh
ExecStop=/home/arkapravo/server-mcje/stop-firewall.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
